@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    display: flex;
    font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh

}
.box{
  border: 2px solid rgb(232, 235, 232);
  padding: 10px;
  margin: 10px;
   
  margin-top: 100px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 100px;
}
img{

  border-radius: 4px;
  padding: 5px;
  width: 500px;
}